[submodule "holoscan-sensor-bridge"]
	path = holoscan-sensor-bridge
	url = https://github.com/SPadmana95/holoscan-sensor-bridge.git
	branch = demo_HSB_ToF_ROS2
[submodule "holohub"]
	path = holohub
	url = https://github.com/nvidia-holoscan/holohub.git
